{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I'm a Brazilian expatriate who has called Ireland home for the past 7 years.
          Two years ago, I embraced a new challenge by teaching myself Python programming.
          Initially, the self-discipline required posed a hurdle, but my love for learning
          and dynamic problem-solving made the journey rewarding. Outside of my professional life,
          I indulge in hobbies like chess, poker, and sports. However, my true passion lies in travel,
          where I relish exploring new cultures, meeting diverse people, savoring different cuisines,
          and immersing myself in unique experiences. My life mantra revolves around embracing challenges,
          staying proactive, and consistently stepping out of my comfort zone.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
